In [37]:
import numpy as np
import pandas as pd
import os

In [38]:
respeck = pd.DataFrame()
thingy = pd.DataFrame()
count = 0
for dirname in os.listdir("2022"):
    for filename in os.listdir("./2022/"+dirname):
        path = "./2022/"+dirname+"/"+filename
        if(filename[0]=="R"):
            df = pd.read_csv(path)
            respeck = pd.concat([respeck,df])
        if(filename[0]=="T"):
            df = pd.read_csv(path)
            thingy = pd.concat([thingy,df])
        count=count+1
        if(count%200==0):
            print(count)
    
respeck.shape

200
400
600
800
1000
1200
1400
1600
1800
2000

(832644, 13)

In [45]:
respeck.drop(columns=['sensor_type','notes','recording_id'], axis=1, inplace=True)

In [46]:
respeck

,timestamp,accel_x,accel_y,accel_z,gyro_x,gyro_y,gyro_z,activity_type,activity_code,subject_id
0,1.664890e+12,0.125977,-1.205872,0.143982,16.125000,6.187500,9.515625,Climbing stairs,12,s1732873
1,1.664890e+12,0.104004,-0.896057,0.059509,15.468750,6.812500,18.062500,Climbing stairs,12,s1732873
2,1.664890e+12,0.087402,-1.044495,0.060974,1.953125,-5.453125,15.625000,Climbing stairs,12,s1732873
3,1.664890e+12,0.058594,-0.935364,0.096619,-4.015625,-5.156250,10.718750,Climbing stairs,12,s1732873
4,1.664890e+12,-0.037842,-0.858215,0.167419,-9.843750,-7.828125,9.671875,Climbing stairs,12,s1732873
...,...,...,...,...,...,...,...,...,...,...
745,1.664892e+12,0.297119,-0.773499,0.205994,54.359375,-23.093750,8.859375,Walking at normal speed,1,s2342658
746,1.664892e+12,0.097412,-0.588928,0.104431,39.812500,-10.609375,3.062500,Walking at normal speed,1,s2342658
747,1.664892e+12,-0.062744,-0.577698,-0.086975,6.156250,-14.250000,3.203125,Walking at normal speed,1,s2342658
748,1.664892e+12,-0.207764,-0.866516,0.027771,-10.062500,-15.343750,22.171875,Walking at normal speed,1,s2342658
749,1.664892e+12,-0.078369,-1.042786,0.085388,-8.734375,-13.890625,12.187500,Walking at normal speed,1,s2342658

In [47]:
respeck=respeck.reset_index(drop=True)
respeck

,timestamp,accel_x,accel_y,accel_z,gyro_x,gyro_y,gyro_z,activity_type,activity_code,subject_id
0,1.664890e+12,0.125977,-1.205872,0.143982,16.125000,6.187500,9.515625,Climbing stairs,12,s1732873
1,1.664890e+12,0.104004,-0.896057,0.059509,15.468750,6.812500,18.062500,Climbing stairs,12,s1732873
2,1.664890e+12,0.087402,-1.044495,0.060974,1.953125,-5.453125,15.625000,Climbing stairs,12,s1732873
3,1.664890e+12,0.058594,-0.935364,0.096619,-4.015625,-5.156250,10.718750,Climbing stairs,12,s1732873
4,1.664890e+12,-0.037842,-0.858215,0.167419,-9.843750,-7.828125,9.671875,Climbing stairs,12,s1732873
...,...,...,...,...,...,...,...,...,...,...
832639,1.664892e+12,0.297119,-0.773499,0.205994,54.359375,-23.093750,8.859375,Walking at normal speed,1,s2342658
832640,1.664892e+12,0.097412,-0.588928,0.104431,39.812500,-10.609375,3.062500,Walking at normal speed,1,s2342658
832641,1.664892e+12,-0.062744,-0.577698,-0.086975,6.156250,-14.250000,3.203125,Walking at normal speed,1,s2342658
832642,1.664892e+12,-0.207764,-0.866516,0.027771,-10.062500,-15.343750,22.171875,Walking at normal speed,1,s2342658
832643,1.664892e+12,-0.078369,-1.042786,0.085388,-8.734375,-13.890625,12.187500,Walking at normal speed,1,s2342658

In [48]:
respeck.to_feather("respeck.feather")

In [49]:
thingy

,timestamp,accel_x,accel_y,accel_z,gyro_x,gyro_y,gyro_z,mag_x,mag_y,mag_z,sensor_type,activity_type,activity_code,subject_id,notes,recording_id
0,1.664544e+12,-0.903320,0.254883,-0.069336,-30.6250,34.28125,6.43750,0.0,0.0,0.0,Thingy,Climbing stairs,12,s1732873,2.0,Thingy_s1732873_Climbing stairs_30-09-2022_14-...
1,1.664544e+12,-0.942383,0.306641,0.042969,-33.3125,54.96875,4.84375,0.0,0.0,0.0,Thingy,Climbing stairs,12,s1732873,2.0,Thingy_s1732873_Climbing stairs_30-09-2022_14-...
2,1.664544e+12,-1.070312,0.260742,0.077148,0.5000,41.25000,24.37500,0.0,0.0,0.0,Thingy,Climbing stairs,12,s1732873,2.0,Thingy_s1732873_Climbing stairs_30-09-2022_14-...
3,1.664544e+12,-1.277344,0.313477,-0.056641,6.1250,19.93750,20.34375,0.0,0.0,0.0,Thingy,Climbing stairs,12,s1732873,2.0,Thingy_s1732873_Climbing stairs_30-09-2022_14-...
4,1.664544e+12,-1.381836,0.245117,-0.311523,-27.3125,5.34375,14.37500,0.0,0.0,0.0,Thingy,Climbing stairs,12,s1732873,2.0,Thingy_s1732873_Climbing stairs_30-09-2022_14-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,1.664892e+12,-0.866211,-0.039062,0.042969,4.6875,-114.62500,-62.46875,0.0,0.0,0.0,Thingy,Walking at normal speed,1,s2342658,NaN,Thingy_s2342658_Walking at normal speed_04-10-...
746,1.664892e+12,-0.341797,0.122070,-0.123047,79.5000,-86.87500,-64.90625,0.0,0.0,0.0,Thingy,Walking at normal speed,1,s2342658,NaN,Thingy_s2342658_Walking at normal speed_04-10-...
747,1.664892e+12,0.120117,0.081055,0.121094,127.0000,-72.34375,-53.90625,0.0,0.0,0.0,Thingy,Walking at normal speed,1,s2342658,NaN,Thingy_s2342658_Walking at normal speed_04-10-...
748,1.664892e+12,-0.139648,0.122070,0.294922,97.7500,30.31250,-17.65625,0.0,0.0,0.0,Thingy,Walking at normal speed,1,s2342658,NaN,Thingy_s2342658_Walking at normal speed_04-10-...
749,1.664892e+12,-0.136719,0.063477,0.600586,54.5000,144.21875,7.62500,0.0,0.0,0.0,Thingy,Walking at normal speed,1,s2342658,NaN,Thingy_s2342658_Walking at normal speed_04-10-...

In [50]:
thingy.drop(columns=['sensor_type','notes','recording_id'], axis=1, inplace=True)
thingy

,timestamp,accel_x,accel_y,accel_z,gyro_x,gyro_y,gyro_z,mag_x,mag_y,mag_z,activity_type,activity_code,subject_id
0,1.664544e+12,-0.903320,0.254883,-0.069336,-30.6250,34.28125,6.43750,0.0,0.0,0.0,Climbing stairs,12,s1732873
1,1.664544e+12,-0.942383,0.306641,0.042969,-33.3125,54.96875,4.84375,0.0,0.0,0.0,Climbing stairs,12,s1732873
2,1.664544e+12,-1.070312,0.260742,0.077148,0.5000,41.25000,24.37500,0.0,0.0,0.0,Climbing stairs,12,s1732873
3,1.664544e+12,-1.277344,0.313477,-0.056641,6.1250,19.93750,20.34375,0.0,0.0,0.0,Climbing stairs,12,s1732873
4,1.664544e+12,-1.381836,0.245117,-0.311523,-27.3125,5.34375,14.37500,0.0,0.0,0.0,Climbing stairs,12,s1732873
...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,1.664892e+12,-0.866211,-0.039062,0.042969,4.6875,-114.62500,-62.46875,0.0,0.0,0.0,Walking at normal speed,1,s2342658
746,1.664892e+12,-0.341797,0.122070,-0.123047,79.5000,-86.87500,-64.90625,0.0,0.0,0.0,Walking at normal speed,1,s2342658
747,1.664892e+12,0.120117,0.081055,0.121094,127.0000,-72.34375,-53.90625,0.0,0.0,0.0,Walking at normal speed,1,s2342658
748,1.664892e+12,-0.139648,0.122070,0.294922,97.7500,30.31250,-17.65625,0.0,0.0,0.0,Walking at normal speed,1,s2342658
749,1.664892e+12,-0.136719,0.063477,0.600586,54.5000,144.21875,7.62500,0.0,0.0,0.0,Walking at normal speed,1,s2342658

In [51]:
thingy = thingy.reset_index(drop=True)
thingy.to_feather("thingy.feather")